body {
  font-family: Arial;
}

h1 {
  background-color: black;
  padding: 10px;
  color: white;
  text-align: center;
}

h2 {
  color: white;
  padding: 10px;
  background-color: lightgrey;
}

a {
  text-decoration: none;
}

li {
  display: inline-block;
}

.title {
  font-size: 30px;
  padding: 10px;
  background-color: turquoise;
  color: black;
}

.text-under-photo {
  display:inline-block;
  padding: 10px;
}

.text-under-photo > ul {
  width: 200px;
  display: inline-block;
  background-color: yellow;
  padding: 0;
  text-align: center;
}
