body {
  font-family: Arial;
}

h1 {
  background-color: black;
  padding: 10px;
  color: white;
  text-align: center;
}

h2 {
  color: white;
  padding: 10px;
  background-color: lightgrey;
}

.nav {
  margin: 0, auto;
  width: 50%;
}

a {
  text-decoration: none;
}

li {
  display: inline-block;
}

.title {
  font-size: 30px;
  padding: 10px;
  background-color: turquoise;
  color: black;
}
